extends layout

block system
	form(action="/res" method="post") 
		section.editing
			article.edit_block
				h3 Главный заголовок
				input(type="text" name="main_tit" value=head.one class="titles")
				article#edit_ui_mt
					input(type="radio" name="m_tit_pos" value="1" id="mtp1")
					label(for="mtp1") Слева
					input(type="radio" name="m_tit_pos" value="2" id="mtp2")
					label(for="mtp2") В центре 
					input(type="radio" name="m_tit_pos" value="3" id="mtp3")
					label(for="mtp3") Справа
				h4 Цвет
				input(type="text" id="m_tit_color" name="m_tit_color" value="rgb(0, 0, 0)")
			article.edit_block
				h3 Вторичный заголовок
				input(type="text" name="sec_tit" value=head.two class="titles")
				article#edit_ui_st
					input(type="radio" name="s_tit_pos" value="1" id="stp1")
					label(for="stp1") Слева
					input(type="radio" name="s_tit_pos" value="2" id="stp2")
					label(for="stp2") В центре 
					input(type="radio" name="s_tit_pos" value="3" id="stp3")
					label(for="stp3") Справа
				h4 Цвет
				input(type="text" id="s_tit_color" name="s_tit_color" value="rgb(0, 0, 0)")
			br
			article.edit_block
				h3 Управление лентой
				article#sort_rib
					input(type="radio" name="rib_sort" value="1" id="rs1")
					label(for="rs1") Однотонная
					input(type="radio" name="rib_sort" value="2" id="rs2")
					label(for="rs2") Двухцветная
					input(type="radio" name="rib_sort" value="3" id="rs3")
					label(for="rs3") Трёхцветная
				h4 Цвет ленты
				input(type="text" id="rib_color_f" name="f_rib_color" value=top_panel.back_color_f)
				input(type="text" id="rib_color_s" name="s_rib_color" value=top_panel.back_color_s)
				h4 Цвет текста на ленте
				input(type="text" name="rib_font" id="rib_font" value=top_panel.color)
			br
			article.edit_block#pan_adm
				h3 Управление панелью
				article#pan_main_radio
					input(type="radio" name="pan_main" value="1" id="mp1")
					label(for="mp1") Включить
					input(type="radio" name="pan_main" value="2" id="mp2")
					label(for="mp2") Отключить
				article.edit_block#pan_cont
					h3 Положение панели
					article#pan_posit
						input(type="radio" name="pan_pos" value="1" id="pp1")
						label(for="pp1") Слева
						input(type="radio" name="pan_pos" value="2" id="pp2")
						label(for="pp2") Справа
					h3 Цвет текста на панели
					input(type="text" name="panel_color" id="panel_color" value=main_panel.color)
					h3 Цвет фона у заголовков панели 
					input(type="text" name="panel_color_tit" id="panel_color_tit" value=main_panel.back_title)
					h3 Цвет фона у строк панели
					input(type="text" name="panel_color_li" id="panel_color_li" value=main_panel.back_main)
		input(type="submit" value="Отправить")
	section.data_system
		input(type="text" id="sys1" value=head.one_or)
		input(type="text" id="sys2" value=head.two_or)
		input(type="text" id="sys3" value=head.one_col)
		input(type="text" id="sys4" value=head.two_col)
		input(type="text" id="sys5" value=top_panel.color)
		input(type="text" id="sys6" value=top_panel.back_type)
		input(type="text" id="sys7" value=top_panel.back_color_f)
		input(type="text" id="sys8" value=top_panel.back_color_s)
		input(type="text" id="sys9" value=main_panel.enabled)
		input(type="text" id="sys10" value=main_panel.position)
		input(type="text" id="sys11" value=main_panel.color)
		input(type="text" id="sys12" value=main_panel.back_title)
		input(type="text" id="sys13" value=main_panel.back_main)