extends layout

block system
	form(action="/res" method="post")
		section.editing
			article.edit_block
				h3 Главный заголовок
				input(type="text" name="main_tit" value=head.one class="titles")
				article#edit_ui_mt
					input(type="radio" name="m_tit_pos" value="1" id="mtp1")
					label(for="mtp1") Слева
					input(type="radio" name="m_tit_pos" value="2" id="mtp2")
					label(for="mtp2") В центре 
					input(type="radio" name="m_tit_pos" value="3" id="mtp3")
					label(for="mtp3") Справа
				h3 Цвет
				input(type="text" id="m_tit_color" name="m_tit_color" value="rgb(0, 0, 0)")
			article.edit_block
				h3 Вторичный заголовок
				input(type="text" name="sec_tit" value=head.two class="titles")
				article#edit_ui_st
					input(type="radio" name="s_tit_pos" value="1" id="stp1")
					label(for="stp1") Слева
					input(type="radio" name="s_tit_pos" value="2" id="stp2")
					label(for="stp2") В центре 
					input(type="radio" name="s_tit_pos" value="3" id="stp3")
					label(for="stp3") Справа
				h3 Цвет
				input(type="text" id="s_tit_color" name="s_tit_color" value="rgb(0, 0, 0)")
		input(type="submit" value="Отправить")
	section.data_system
		input(type="text" id="sys1" value=head.one_or)
		input(type="text" id="sys2" value=head.two_or)
		input(type="text" id="sys3" value=head.one_col)
		input(type="text" id="sys4" value=head.two_col)